In [1]:
import pandas as pd
import numpy as np
import csv
import datetime

In [2]:
# bring in report from corrigo and remove blank header row
df = pd.read_csv("C:\\Users\\Charles.Robinson\\Desktop\\python reports\\(XX.01.XX - XX.31.XX) Finance - HVAC PMs All status Report-(For Quarter) Mod-04090409.csv", header=0)
print(df.head())

  Area - Historic      District - Historic     Area USPS District  \
0         Western        Portland District  WestPac    Washington
1         Western        Portland District  WestPac    Washington
2         Western        Portland District  WestPac    Washington
3         Western        Portland District  WestPac    Washington
4         Western  Salt Lake City District  WestPac         NV-UT

  Property Number                                 Property Name          WO#  \
0    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
1    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
2    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
3    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
4     897791-REDJ   UT-SALT LAKE CITY-REMOTE ENCODING CTR -NTWK  ABCS5F99917

   Unnamed: 7              Work Description Date/Time Created   ...     \
0         NaN        Multi-item: HVAC - PMs    3/25/2022 1:15   ...
1         NaN        Multi-item: HVAC - PMs    3/25/2022 1:15   ...
2         NaN        Multi-item: HVAC - PMs    3/25/2022 1:15   ...
3         NaN        Multi-item: HVAC - PMs    3/25/2022 1:15   ...
4         NaN  GEN 001:Preventive:Annual PM    3/17/2022 0:38   ...

  Trash_Disposal Per Ton Snow Accumulation Auto Haul - Snow Services  \
0                    NaN               NaN                       NaN
1                    NaN               NaN                       NaN
2                    NaN               NaN                       NaN
3                    NaN               NaN                       NaN
4                    NaN               NaN                       NaN

  Service Pro NTE            Description   Total Item  Quantity  \
0          $5.00             Apr-HVAC PM  $1.00   NaN       0.0
1          $5.00             May-HVAC PM  $1.00   NaN       0.0
2          $5.00             Jun-HVAC PM  $1.00   NaN       0.0
3          $5.00   NTE Service Fee Labor  $1.00   NaN       1.0
4          $5.00                     PM1  $1.00   NaN       1.0

   Unit Price/Rate Subtotal
0           $1.00    $1.00
1           $1.00    $1.00
2           $1.00    $1.00
3           $1.00    $1.00
4           $1.00    $1.00

[5 rows x 27 columns]

In [3]:
# remove blank columns from corrigo 
df = df.dropna(axis = 1, how = 'all')
print(df.head())

  Area - Historic      District - Historic     Area USPS District  \
0         Western        Portland District  WestPac    Washington
1         Western        Portland District  WestPac    Washington
2         Western        Portland District  WestPac    Washington
3         Western        Portland District  WestPac    Washington
4         Western  Salt Lake City District  WestPac         NV-UT

  Property Number                                 Property Name          WO#  \
0    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
1    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
2    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
3    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
4     897791-REDJ   UT-SALT LAKE CITY-REMOTE ENCODING CTR -NTWK  ABCS5F99917

               Work Description Date/Time Created Contact   ...     \
0        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
1        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
2        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
3        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
4  GEN 001:Preventive:Annual PM    3/17/2022 0:38     OIC   ...

  Vendor Invoice Number  Submitted Date Auto Haul - Snow Services  \
0   abcabc000861abcabc7  5/16/2022 5:15                       NaN
1   abcabc000861abcabc7  5/16/2022 5:15                       NaN
2   abcabc000861abcabc7  5/16/2022 5:15                       NaN
3   abcabc000861abcabc7  5/16/2022 5:15                       NaN
4         SS00037abc304  5/16/2022 8:40                       NaN

  Service Pro NTE            Description   Total Item Quantity  \
0          $5.00             Apr-HVAC PM  $1.00   NaN      0.0
1          $5.00             May-HVAC PM  $1.00   NaN      0.0
2          $5.00             Jun-HVAC PM  $1.00   NaN      0.0
3          $5.00   NTE Service Fee Labor  $1.00   NaN      1.0
4          $5.00                     PM1  $1.00   NaN      1.0

  Unit Price/Rate Subtotal
0          $1.00    $1.00
1          $1.00    $1.00
2          $1.00    $1.00
3          $1.00    $1.00
4          $1.00    $1.00

[5 rows x 24 columns]

In [4]:
# Show data types
df = df.fillna(0)
df.dtypes

Area - Historic               object
District - Historic           object
Area                          object
USPS District                 object
Property Number               object
Property Name                 object
WO#                           object
Work Description              object
Date/Time Created             object
Contact                       object
Status                        object
AP Status                     object
Authorized Date               object
Name                          object
Vendor Invoice Number         object
Submitted Date                object
Auto Haul - Snow Services     object
Service Pro NTE               object
Description                   object
Total                         object
Item                          object
Quantity                     float64
Unit Price/Rate               object
Subtotal                      object
dtype: object

In [5]:
# remove $ Signs
total = df.Total.str.replace('$','')
sub = df.Subtotal.str.replace('$','')
nte = df['Service Pro NTE'].str.replace('$', '')
unit = df['Unit Price/Rate'].str.replace('$', '')
print(total)
print(sub)
print(nte)
print(unit)

0       1.00
1       1.00
2       1.00
3       1.00
4       1.00
5       1.00
6       1.00
7       1.00
8       1.00
9       1.00
10      1.00
11      1.00
12      1.00
13      1.00
14      1.00
15      1.00
16      1.00
17      1.00
18      1.00
19      1.00
20      1.00
21      1.00
22      1.00
23      1.00
24      1.00
25      1.00
26      1.00
27      1.00
28      1.00
29      1.00
        ...
4333    1.00
4334    1.00
4335    1.00
4336    1.00
4337    1.00
4338    1.00
4339    1.00
4340    1.00
4341    1.00
4342    1.00
4343    1.00
4344    1.00
4345    1.00
4346    1.00
4347    1.00
4348    1.00
4349    1.00
4350    1.00
4351    1.00
4352    1.00
4353    1.00
4354    1.00
4355    1.00
4356    1.00
4357    1.00
4358    1.00
4359    1.00
4360    1.00
4361    1.00
4362    1.00
Name: Total, Length: 4363, dtype: object
0       1.00
1       1.00
2       1.00
3       1.00
4       1.00
5       1.00
6       1.00
7       1.00
8       1.00
9       1.00
10      1.00
11      1.00
12      1.00
13      1.00
14      1.00
15      1.00
16      1.00
17      1.00
18      1.00
19      1.00
20      1.00
21      1.00
22      1.00
23      1.00
24      1.00
25      1.00
26      1.00
27      1.00
28      1.00
29      1.00
        ...
4333    1.00
4334    1.00
4335    1.00
4336    1.00
4337    1.00
4338    1.00
4339    1.00
4340    1.00
4341    1.00
4342    1.00
4343    1.00
4344    1.00
4345    1.00
4346    1.00
4347    1.00
4348    1.00
4349    1.00
4350    1.00
4351    1.00
4352    1.00
4353    1.00
4354    1.00
4355    1.00
4356    1.00
4357    1.00
4358    1.00
4359    1.00
4360    1.00
4361    1.00
4362      NaN
Name: Subtotal, Length: 4363, dtype: object
0       5.00
1       5.00
2       5.00
3       5.00
4       5.00
5       5.00
6       5.00
7       5.00
8       5.00
9       5.00
10      5.00
11      5.00
12      5.00
13      5.00
14      5.00
15      5.00
16      5.00
17      5.00
18      5.00
19      5.00
20      5.00
21      5.00
22      5.00
23      5.00
24      5.00
25      5.00
26      5.00
27      5.00
28      5.00
29      5.00
        ...
4333    5.00
4334    5.00
4335    5.00
4336    5.00
4337    5.00
4338    5.00
4339    5.00
4340    5.00
4341    5.00
4342    5.00
4343    5.00
4344    5.00
4345    5.00
4346    5.00
4347    5.00
4348    5.00
4349    5.00
4350    5.00
4351    5.00
4352    5.00
4353    5.00
4354    5.00
4355    5.00
4356    5.00
4357    5.00
4358    5.00
4359    5.00
4360    5.00
4361    5.00
4362    5.00
Name: Service Pro NTE, Length: 4363, dtype: object
0       1.00
1       1.00
2       1.00
3       1.00
4       1.00
5       1.00
6       1.00
7       1.00
8       1.00
9       1.00
10      1.00
11      1.00
12      1.00
13      1.00
14      1.00
15      1.00
16      1.00
17      1.00
18      1.00
19      1.00
20      1.00
21      1.00
22      1.00
23      1.00
24      1.00
25      1.00
26      1.00
27      1.00
28      1.00
29      1.00
        ...
4333    1.00
4334    1.00
4335    1.00
4336    1.00
4337    1.00
4338    1.00
4339    1.00
4340    1.00
4341    1.00
4342    1.00
4343    1.00
4344    1.00
4345    1.00
4346    1.00
4347    1.00
4348    1.00
4349    1.00
4350    1.00
4351    1.00
4352    1.00
4353    1.00
4354    1.00
4355    1.00
4356    1.00
4357    1.00
4358    1.00
4359    1.00
4360    1.00
4361    1.00
4362      NaN
Name: Unit Price/Rate, Length: 4363, dtype: object

In [6]:
# add the columns with $ removed back to df
df['Total'] = total
df['Subtotal'] = sub
df['Service Pro NTE'] = nte
df['Unit Price/Rate'] = unit
print(df.head())

  Area - Historic      District - Historic     Area USPS District  \
0         Western        Portland District  WestPac    Washington
1         Western        Portland District  WestPac    Washington
2         Western        Portland District  WestPac    Washington
3         Western        Portland District  WestPac    Washington
4         Western  Salt Lake City District  WestPac         NV-UT

  Property Number                                 Property Name          WO#  \
0    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
1    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
2    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
3    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
4     897791-REDJ   UT-SALT LAKE CITY-REMOTE ENCODING CTR -NTWK  ABCS5F99917

               Work Description Date/Time Created Contact   ...     \
0        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
1        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
2        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
3        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC   ...
4  GEN 001:Preventive:Annual PM    3/17/2022 0:38     OIC   ...

  Vendor Invoice Number  Submitted Date Auto Haul - Snow Services  \
0   abcabc000861abcabc7  5/16/2022 5:15                         0
1   abcabc000861abcabc7  5/16/2022 5:15                         0
2   abcabc000861abcabc7  5/16/2022 5:15                         0
3   abcabc000861abcabc7  5/16/2022 5:15                         0
4         SS00037abc304  5/16/2022 8:40                         0

  Service Pro NTE            Description  Total Item Quantity Unit Price/Rate  \
0           5.00             Apr-HVAC PM  1.00     0      0.0           1.00
1           5.00             May-HVAC PM  1.00     0      0.0           1.00
2           5.00             Jun-HVAC PM  1.00     0      0.0           1.00
3           5.00   NTE Service Fee Labor  1.00     0      1.0           1.00
4           5.00                     PM1  1.00     0      1.0           1.00

  Subtotal
0    1.00
1    1.00
2    1.00
3    1.00
4    1.00

[5 rows x 24 columns]

In [7]:
#  Change columns from str object to float
df['Total'] = pd.to_numeric(df['Total'],errors='coerce')
df['Service Pro NTE'] = pd.to_numeric(df['Service Pro NTE'],errors='coerce')
df['Unit Price/Rate'] = pd.to_numeric(df['Unit Price/Rate'],errors='coerce')
df['Subtotal'] = pd.to_numeric(df['Subtotal'],errors='coerce')
print(df.tail())

     Area - Historic            District - Historic      Area USPS District  \
4358         Western              Portland District   WestPac      ID-MT-OR
4359         Western              Portland District   WestPac      ID-MT-OR
4360         Western              Portland District   WestPac      ID-MT-OR
4361       Northeast    Connecticut Valley District  Atlantic   Connecticut
4362       Northeast  Northern New England District  Atlantic      ME-NH-VT

     Property Number                                  Property Name  \
4358     80571J-REDJ             OR-MOLALLA-MAIN OFC-215 ROBBINS ST
4359     80571J-REDJ             OR-MOLALLA-MAIN OFC-215 ROBBINS ST
4360     80571J-REDJ             OR-MOLALLA-MAIN OFC-215 ROBBINS ST
4361     08SD88J-G01         CT-MADISON-MAIN OFC-781 BOSTON POST RD
4362     SDJ8801-G0J  NH-MANCHESTER-P&DC-955 GOFFS FALLS RD STE 201

              WO#                           Work Description  \
4358  ABCSMZS9992                     Multi-item: HVAC - PMs
4359  ABCSMZS9992                     Multi-item: HVAC - PMs
4360  ABCSMZS9992                     Multi-item: HVAC - PMs
4361  ABCSE4V8846                     Multi-item: HVAC - PMs
4362  ABCS4G58893  Equipment:Other::HVAC BAS- Block Controls

     Date/Time Created Contact    ...    Vendor Invoice Number  \
4358    3/25/2022 1:18     OIC    ...                        0
4359    3/25/2022 1:18     OIC    ...                        0
4360    3/25/2022 1:18     OIC    ...                        0
4361    1/20/2022 0:21     OIC    ...                  SD17586
4362     1/1/2022 0:11     OIC    ...                        0

       Submitted Date Auto Haul - Snow Services Service Pro NTE  Description  \
4358                0                         0             5.0  Apr-HVAC PM
4359                0                         0             5.0  May-HVAC PM
4360                0                         0             5.0  Jun-HVAC PM
4361  3/28/2022 14:29                         0             5.0   Q1-HVAC PM
4362                0                       Yes             5.0            0

     Total         Item  Quantity Unit Price/Rate  Subtotal
4358   1.0  Apr-HVAC PM       1.0             1.0       1.0
4359   1.0  May-HVAC PM       1.0             1.0       1.0
4360   1.0  Jun-HVAC PM       1.0             1.0       1.0
4361   1.0   Q1-HVAC PM       1.0             1.0       1.0
4362   1.0            0       0.0             NaN       NaN

[5 rows x 24 columns]

In [8]:
# find grand totals
total = df.sum().astype(int)
print(total)

Service Pro NTE    21815
Total               4363
Quantity            4436
Unit Price/Rate     4362
Subtotal            4362
dtype: int32

In [9]:
# Change totals to Dict
total = total.to_dict()
print(total)

{'Service Pro NTE': 21815, 'Total': 4363, 'Quantity': 4436, 'Unit Price/Rate': 4362, 'Subtotal': 4362}

In [10]:
# append Dict total to dataframe
df = df.append(total, ignore_index=True, sort=False)
print(df.head())

  Area - Historic      District - Historic     Area USPS District  \
0         Western        Portland District  WestPac    Washington
1         Western        Portland District  WestPac    Washington
2         Western        Portland District  WestPac    Washington
3         Western        Portland District  WestPac    Washington
4         Western  Salt Lake City District  WestPac         NV-UT

  Property Number                                 Property Name          WO#  \
0    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
1    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
2    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
3    5809SD8-REDJ  WA-BRUSH PRAIRIE-MAIN OFC-12012 NE 150TH CIR  ABCS4UP8828
4     897791-REDJ   UT-SALT LAKE CITY-REMOTE ENCODING CTR -NTWK  ABCS5F99917

               Work Description Date/Time Created Contact    ...     \
0        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC    ...
1        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC    ...
2        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC    ...
3        Multi-item: HVAC - PMs    3/25/2022 1:15     OIC    ...
4  GEN 001:Preventive:Annual PM    3/17/2022 0:38     OIC    ...

  Vendor Invoice Number  Submitted Date Auto Haul - Snow Services  \
0   abcabc000861abcabc7  5/16/2022 5:15                         0
1   abcabc000861abcabc7  5/16/2022 5:15                         0
2   abcabc000861abcabc7  5/16/2022 5:15                         0
3   abcabc000861abcabc7  5/16/2022 5:15                         0
4         SS00037abc304  5/16/2022 8:40                         0

  Service Pro NTE            Description Total Item  Quantity Unit Price/Rate  \
0             5.0            Apr-HVAC PM   1.0    0       0.0             1.0
1             5.0            May-HVAC PM   1.0    0       0.0             1.0
2             5.0            Jun-HVAC PM   1.0    0       0.0             1.0
3             5.0  NTE Service Fee Labor   1.0    0       1.0             1.0
4             5.0                    PM1   1.0    0       1.0             1.0

   Subtotal
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0

[5 rows x 24 columns]

In [11]:
# get todays date and store in vairable 
from datetime import date

today = date.today()
today2 = f'Finance - HVAC PMs All status Report-{today}.xlsx'

In [12]:
# Save file
df.to_csv(f'C:\\Users\\Charles.Robinson\\Desktop\\python reports\\{today2}', index = False)